body{
    background-color:rgb(62, 146, 236);
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif
}





h1{
    font-size: 1.25em;
    text-align: left;
    background-color: #ffffff;
    width: 800px;
    margin: 0 auto;
    padding: 30px;
    border-left: 3px double white;
    border-right: 3xp double white; 
    font-family: 'Times New Roman', Times, serif
}
h2{
    display: block;
    font-size: 1.25em;
    text-align: left;
    background-color: #ffffff;
    width: 800px;
    margin: 0 auto;
    padding: 30px;
    border-left: 3px double white;
    border-right: 3xp double white; 
    font-family: 'Times New Roman', Times, serif
}
h3{
    font-size: 1.25em;
    text-align: left;
    background-color: #ffffff;
    width: 800px;
    margin: 20px auto 10px auto;
    padding: 15px;
    border-left: 3px double rgb(255, 255, 255);
    border-right: 3px double white;
    font-family: 'Times New Roman', Times, serif;
    clear: both;
}

img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    float: left;
    border: 5px solid #a19258;
    margin: 10px 20px 10px 0;
    clear: none;
}
